.box-01 > div {
    margin: 40px 0px;
}

.box-01 .conteudo {
    width: 580px;
}

.box-01 .conteudo .titulo {
    font: 45px 'calibri';
    color: #72120B;
}

.box-01 .conteudo .titulo::first-line {
    color: #307556;
}

.box-01 .conteudo .linha {
    height: 4px;
    background: #eee;
    width: 100%;
    margin: 20px 0px 0px;
    position: relative;
    box-shadow: -1px -1px 2px 0px #fff inset;
}

.box-01 .conteudo .texto {
    font: 20px/25px 'calibri';
    text-shadow: 0px 0px 1px #eee;
    color: #999999;
    margin: 20px 0px;
}

.box-01 .conteudo .entrar {
    padding: 18px 47px;
    background: #72120B;
    color: #fff;
    font: 20px 'calibri';
    display: table;
    transition: all 0.5s;
    border-radius: 8px;
}

.box-01 .img {
    width: 450px;
    height: 370px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px #fff inset;
    display: flex;
    position: relative;
}

.box-01 .img .info {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
    background: rgba(114, 18, 11, 0.61);
    font: 23px 'calibri';
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 0px 33px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: all linear 0.5s;
    transform: translateX(-100%);
}

.box-02-total {
    background: #307556;
}

.box-02 {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-02 .conteudo {
    width: auto;
}

.box-02 .item {
    margin: 20px 0px;
    width: 311px;
    box-sizing: border-box;
    border: 2px solid rgba(251, 251, 251, 0.13);
    padding: 15px 10px;
    text-align: center;
    border-radius: 15px;
}

.box-02 .item:hover {
    background: rgba(255, 255, 255, 0.1);
}

.box-02 .item .img {
    width: 100%;
    height: 157px;
    overflow: hidden;
}

.box-02 .item .titulo {
    font: 28px 'calibri';
    color: #fff;
    margin: 40px 0px;
}

.box-02 .item .conteudo {
    font: 18px/30px 'calibri';
    color: #fff;
    margin: 40px 0px;
}

.box-02 .item .entrar {
    cursor: pointer;
}

.box-02 .entrar {
    padding: 20px 70px;
    background: #72120B;
    margin: 0 auto;
    color: #fff;
    font: 20px 'calibri';
    display: table;
    transition: all 0.5s;
    border-radius: 8px;
}