body {
    margin: 0;
    font-family: calibri;
    height: 100vh;
    display: flex;
}

.menu {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}

.menu .menu-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5b7e7e;
}

.menu .menu-perfil img {
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.menu .menu-perfil h2 {
    margin-top: 20;
    margin-bottom: 10px;
    font-size: 20px;
}

.menu .menu-perfil p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
}

.menu .menu-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #465f5f;
}

nav {
    width: 100%;    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    width: 100%;
}

nav li {
    margin: 0px 0;
    width: 100%;
}

nav li a {
    display: block;
    background-color: #d3bf0c;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav li a:hover {
    color: #2c3e50;
    background-color: #b0e0e0;
}

.conteudo {
    flex: 1;
    background-color: #E6EBED;
    padding: 20px;
}

header {
    border-radius: 8px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    margin: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px #00004d;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

section {
    border-radius: 8px;
    margin-top: 20px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

section.lista-contatos {
    background-color: #ffffff;
    color: #3b3b3b;
    margin: 5px;
}

section div {
    padding: 20px;
}

section.ultimos-topicos {
    display: flex;
    padding: 5px;
    background-color: #E6EBED;
    color: #ffffff;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
}

section.ultimos-topicos .calendario {
    width: 50%;
    background-color: #6081a1;
    color: #ffffff;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #00004d;
}

section.ultimos-topicos .ultimos-contatos {
    width: 50%;
    background-color: #1860a8;
    color: #ffffff;
    margin-left: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

#tabelaContatos th, #tabelaContatos td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#tabelaContatos tr:hover {
    background: #f2f2f2;
}

#tabelaContatos th {
    background: #2c3e50;
    color: white;
}

