body {
    overflow-x: hidden;
}

.topo-total {
    background-color: #307556;
}

.topo {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px;
}

a {
    text-decoration: none;
}

* {
    color: #fff;
    margin: 0;
    padding: 0;
    border-radius: 1px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu li {
    display: inline-block;
    list-style: none;
    padding: 0px 10px;
}

.menu li a {
    font-family: 'Myriad Pro';
    font-size: 16px;
    font-weight: bold;
    padding: 10px 12px;
}

.global {
    margin: 0 auto;
}

.box-01 {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    transition: all 0.5s;
}

.conteudo {
    width: 580px;
}



.rodape-total {
    background: #307556;
    max-width: 100%;
    
}

.logo-pw {
    display: flex;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.logo-pw div {
    display: flex;
}

.logo-pw div {
    color: transparent;
}

.logo-pw-total {
    border-top: 1px solid #fff;
    display: flex;
    align-items: center;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}